@import "src/assets/styles/colors";
@import "src/assets/styles/typography";


.pt__crop-detail {
  background-color: white;
  min-height: 15rem;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 2.5rem;
  padding: 2rem 1rem;
}

.pt__location {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.6rem;
}
