// Color Variables
$color-primary: #004637;
$color-secondary: #f0ab1f;
$color-tertiary: #00dd93;
$color-tertiary-light: #bbf7d7;
$color-white: #ffffff;
$color-gray: #8a8a93;
$color-gray-light: #F3F3F3;
